<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <style>
    </style>
</head>
<body>
    {%extends 'base.html'%}
    {%block content%}
    <div class="container" style="text-align: center;">
        {% for post in object_list%}
    <br>
    <div class="card" style="width: 22rem;">
        {%if post.photo%}
        <img src="{{post.photo.url}}" class="card-img-top" alt="">
        {%else%}
        <img src="{{post.photo}}" class="card-img-top" alt="">
        {%endif%}
        <div class="card-body">
            <h2><a href="{%url 'full_post' post.id%}" style="text-decoration: none;">{{post.title}}</a></h2>
            <p>--{{post.author}}</p>
            <p class="card-text">{{post.body|slice:"150"|safe}}...</p>
            <p>{{post.date}}</p>
        </div>
      </div>
      <br>
    {%endfor%}
    </div>
    {%endblock content%}
</body>
</html>